footer {
    padding: 0rem 1.5rem 2rem;
    background-color: white;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    font-weight: 100;
    cursor: default;
}

.comp-link {
    color: #4a4a4a;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.comp-link:hover {
    color: #dab7b7;
}