<section class="hero ">
  <div class="hero-body">
    <div class="container">

      <div class="columns is-centered">
        <div class="column has-text-centered title-option divider-col">
          <mat-divider></mat-divider>
        </div>
      </div>

      <!-- Profile row -->
      <div class="columns is-centered">
        <div class="column is-3">
          <img class="profile" src="../../../assets/img/raul.jpg" alt="Raul's profile picture">
        </div>
        <div class="column is-5">
          <h1 class="col-tag label">{{greeting}}</h1>
          <h4 class="content">My name is <span class="h-txt">Raul</span> and I love : <span class="h-txt">{{ love }}</span></h4>
          <p class="content">I was born in Honduras on Sept 9th 1994. In the year 2000 my parents took us to Costa Rica
            where I've been living ever since. I have a twin brother and a sister whom I hold very dear. During most of
            my childhood we lived close to the beach, which made me get used to warm climates.</p>
          <p class="content">As a Software Engineer my primary focus is Web Application development. I've been working
            at Intel
            for a little over 3 years now and I've made some good friends along the way. I've participated in at least
            1 Hackathon/Competition at work every year where I've won two 2nd place finishes. I love doing volunteering
            work and this year I've done 50+ hours in different projects.</p>
          <div class="columns is-centered">
            <div class="column has-text-centered">
              <button mat-raised-button class="work" (click)="goTo('work')">My Resume</button>
              <button mat-raised-button class="work" (click)="goTo('contact')">Contact me</button>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column has-text-centered title-option divider-col">
          <mat-divider></mat-divider>
        </div>
      </div>

      <!-- Gaming row -->
      <div class="columns is-centered">
        <div class="column is-4">
          <h1 class="col-tag label">Gaming & E-sports</h1>
          <h4 class="content">I play video games like its my life</h4>
          <p class="content">I love competition. Any game I play I will try to be as highly ranked as I can be. My
            favorite game is League of Legends and I've played it for over 5 years now. My highest rank in it is
            Diamond 1 on
            the NA server. On Xbox I love playing Forza Motorsport and single player games like Skyrim, The Division
            and multiplayer games like Call of Duty and Battlefield.</p>
          <p class="content">I've played on many local tournaments in Costa Rica and I like to say my team is pretty
            decent. I watch the League of Legends NA LCS regularly where my favorite team is Team Liquid and my
            favorite player is Doublelift, I even have the team's jersey!</p>
          <div class="columns is-centered">
            <div class="column has-text-centered">
              <button mat-raised-button class="work" (click)="goTo('contact')">Let's play !</button>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <img class="setup" src="../../../assets/img/gaming.jpg" alt="Raul's gaming set up">
        </div>
      </div>

    </div>
  </div>
</section>