.navbar-menu.expanded-menu {
    margin: 5% 30% 0;
    border-bottom: 1px solid #e6bbbb;
    padding-bottom: 1em;
}

.navbar-item img {
    max-height: 2rem;
    margin-right: 1em;
}

a.navbar-item.logo:hover {
    background-color: white;
}

a.navbar-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9em;
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a.navbar-item:hover {
    background-color: rgba(255, 236, 236, 0.5);
    color: #4a4a4a;
}

a.navbar-item.is-wide {
    border-top: none;
}

@media screen and (min-width: 1088px) {
    .navbar-brand .navbar-item.logo {
        display: none;
    }
}

.navbar-brand .navbar-item.logo {
    border-top: none;
}

a.button {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-color: #e6bbbb;
}

a.button:hover {
    border-color: #e29696;
    background-color: #fdf1f1;
}
