<mat-nav-list>
    <a href="{{url}}" target="_blank" mat-list-item (click)="openLink($event)">
        <span class="title-sheet" mat-line>Raul Grimaldi </span><mat-icon>cloud_download</mat-icon>
        <span class="sub-sheet" mat-line>English version</span>
    </a>

    <!-- <a href="{{url}}" target="_blank" mat-list-item (click)="openLink($event)">
        <span class="title-sheet" mat-line>Raul Grimaldi </span><mat-icon>cloud_download</mat-icon>
        <span class="sub-sheet" mat-line>Version Español</span>
    </a> -->
</mat-nav-list>