<section class="hero ">
  <div class="hero-body">
    <div class="container">

      <div class="columns is-centered">
        <div class="column has-text-centered divider-col">
          <mat-divider></mat-divider>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column has-text-centered is-9 banner-starwars">
          <h1 class="title-option">For your consideration</h1>
          <a (click)="openBottomSheet()">
            <div class="download">Download Resume</div>
          </a>
        </div>
      </div>

      <!-- Start of resume text wall -->
      <!-- 1st row -->
      <div class="columns is-centered">
        <div class="column is-9 resume-text">
          <div class="columns is-centered">
            <div class="column is-3">
              <h1 class="col-tag label">Technologies</h1>
            </div>
            <div class="column is-3 border-left">
              <mat-list>
                <h3 mat-subheader>Confort Languages:</h3>
                <mat-list-item *ngFor="let item of languages">
                  <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                  <h4 class="content" mat-line>{{item.name}}</h4>
                  <p class="content" mat-line> Since: {{item.yearsExp | date:'yyyy'}} </p>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="column is-3 ">
              <mat-list>
                <h3 mat-subheader>Dev Tools:</h3>
                <mat-list-item *ngFor="let item of tools">
                  <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                  <h4 class="content" mat-line>{{item.name}}</h4>
                  <p class="content" mat-line> Since: {{item.yearsExp | date:'yyyy'}} </p>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="column is-3 ">
              <mat-list>
                <h3 mat-subheader>Frameworks:</h3>
                <mat-list-item *ngFor="let item of frameworks">
                  <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                  <h4 class="content" mat-line>{{item.name}}</h4>
                  <p class="content" mat-line> Since: {{item.yearsExp | date:'yyyy'}} </p>
                </mat-list-item>
              </mat-list>
            </div>
          </div>

          <!-- 2nd row -->
          <div class="columns is-centered">
            <div class="column is-3 border-right">
              <h1 class="col-tag label">Work Experience</h1>
            </div>
            <div class="column is-9 work-text border-left">
              <mat-divider></mat-divider>
              <h3>Microsoft | 2021 - Present </h3>
              <h4 class="content">Software Engineer II</h4>
              <p class="content"> Built services to handle multiple core features of creating and joining meetings using
                Teams.
                Worked on achieving scalability of +1000 users with video in a meeting.
                Integrated with multiple APIs of other Microsoft apps to meet client’s requirements.</p>
              <p class="content">Designed and implemented algorithms to ensure user and tenant policy requirements.
                Improved services Unit Test by using data driven pattern and avoided creating code duplication.
                Refactored existing tests to streamline executions and allow team members better code analysis
              </p>

              <mat-divider></mat-divider>
              <h3>Wind River | 2019 - 2021 </h3>
              <h4 class="content">Tech Lead & Member of Technical Staff</h4>
              <p class="content"> Led architecture design for Wind River’s new DevSecOps platform flagship product.
                Creating Microservices using API Gateway pattern and asynchronous communication.
                Deployed in multi-cloud environment using Docker and Kubernetes on AWS and Azure</p>
              <p class="content">Developed system that allowed for reservation, connection and scripting of virtual and
                physical boards
                to test OS’s build which increased testing capacity without spending money on new boards.
              </p>
              <p class="content">Decreased ramp up period by 50% of new teams in their development process.
                Built reusable code structures and components in Angular and Typescript.
                Implemented coding standards and best practices guideline and tech talk to department.
              </p>
              <mat-divider></mat-divider>
              <h3>Intel | 2015 - 2019 </h3>
              <h4 class="content">Software Development Engineer</h4>
              <p class="content">Developed front end solution to handle test case and results management of Intel
                factories.
                Requirements and tests traceability increased by 60%.</p>
              <p class="content"> Led efforts that increased code coverage up to 90% of all our repositories.</p>
              <p class="content"> Decreased deployment time by 30% of our core service.
                Refactored large component of our app into using a better architecture to decrease dependencies</p>
              <mat-divider></mat-divider>
            </div>
          </div>

        </div>
      </div>
      <!-- End of resume text wall -->

      <div class="columns is-centered separation-bottom">
        <div class="column has-text-centered is-6">
          <h1 class="title-talk">Let's talk</h1>
          <p class="content"> Now that you know what I've done and what I could do for you, feel free to reach out and
            start a conversation. I always enjoy speaking with passionate business owners about their needs. </p>
          <button mat-raised-button class="contact" (click)="goTo('contact')">Contact me today</button>
        </div>
      </div>

    </div>
  </div>
</section>