<section class="hero ">
  <div class="hero-body">
    <div class="container">

      <div class="columns is-centered">
        <div class="column has-text-centered title-option divider-col">
          <mat-divider></mat-divider>
          This is basically what I'm made of...
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column is-4 optionBox">
          <i class="fas fa-laptop-code fa-3x"></i>
          <h2 class="option-title web">Coding</h2>
          <p>I am a Software Developer and I love every second of my working day.</p>
          <div class="info-separation">
            <button mat-raised-button class="round-button">Currently working at : <span class="working-at">Intel</span></button>
          </div>
          <p>Staying up to date with technogies takes most of my afternoons tho.</p>
          <div class="info-separation">
            <button mat-raised-button color="primary" class="view-info" (click)="goTo('work')">
              Read more about my work</button>
          </div>
        </div>
        <!-- <div class="column optionBox">
          <i class="fas fa-baseball-ball fa-3x"></i>
          <h2 class="option-title ux">Tennis</h2>
          <p>Favorite sport. I usually play with my twin brother once a week.</p>
          <div class="info-separation">
            <button mat-raised-button class="round-button">Next game in : <span class="playing-in">15h</span></button>
          </div>
          <p>I enjoy playing a lot but just so we're clear, I'm actually pretty bad :(</p>
          <div class="info-separation">
            <button mat-raised-button color="primary" class="view-info" (click)="createProject('design')">
              More personal stuff</button>
          </div>
        </div> -->
        <div class="column is-4 optionBox">
          <i class="fas fa-gamepad fa-3x"></i>
          <h2 class="option-title mobile">Gaming</h2>
          <p>Any day is a good day to play videogames, especially with friends.</p>
          <div class="info-separation">
            <a href="https://www.twitch.tv/tottogoboom" target="_blank">
              <button mat-raised-button class="round-button">Check out my <span class="stream">stream</span> !</button>
            </a>
          </div>
          <p>I play mostly on PC but I'm down to play wherever you want.</p>
          <div class="info-separation">
            <button mat-raised-button color="primary" class="view-info" (click)="goTo('about')">
              Read more about me</button>
          </div>
        </div>
      </div>

      <app-social-media></app-social-media>

    </div>
  </div>
</section>