<!-- Follow us section -->
<div class="columns is-centered">
  <div class="column has-text-centered divider-col">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="columns is-centered">
  <div class="column has-text-centered title-option">
    Social media:
  </div>
</div>
<div class="columns is-centered icons-col">
  <div class="column has-text-centered">
    <a mat-fab class="follow-icon instagram" href="https://www.instagram.com/kingtotto/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a mat-fab class="follow-icon twitter" href="https://twitter.com/kinggrimaldi" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <a mat-fab class="follow-icon linkedin" href="https://www.linkedin.com/in/raul-grimaldi-7a782392/" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a mat-fab class="follow-icon twitch" href="https://www.twitch.tv/tottogoboom" target="_blank">
      <i class="fab fa-twitch"></i>
    </a>
  </div>
</div>